<ion-header>
  <ion-toolbar>
    <ion-title>camara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="getCordovaAvailable()" expand="block" shape="round">
    Take Photo
  </ion-button>
  <input #fileInput type="file" (change)=" addFile($event)" placeholder="Profile Picture" type="file" accept='image/*'
    style="display:none;">

  
  <image-cropper [imageBase64]="myImage" 
  [maintainAspectRatio]="true" 
  [aspectRatio]="1 / 1" 
  format="jpeg"
  (imageCropped)="imageCropped($event)"
  [autoCrop]="false"
  >
  </image-cropper>

  <img *ngIf="myFinalImage" [src]="myFinalImage">

  <ion-button (click)="submit()" expand="block" fill="clear" shape="round">
    submit
  </ion-button>
</ion-content>