<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input ngModel name="user" #userCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-button type="submit" expand="block" padding>Submit</ion-button>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
