<ion-header>
  <ion-toolbar>
      <ion-title>Introduce los Datos</ion-title>
      <ion-buttons slot="primary">
        <ion-button fill="clear" (click)="modalDismiss()">Cancelar</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="mail"></ion-icon>
              Email
            </ion-label>
            <ion-input type="email" ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="key"></ion-icon>
              Contraseña
            </ion-label>
            <ion-input type="password" ngModel name="password" required minlength="6" #passwordCtrl="ngModel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="person"></ion-icon>
              Nombre y Apellidos
            </ion-label>
            <ion-input type="text" ngModel name="nameSurname" required #nameSurnameCtrl="ngModel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="clipboard"></ion-icon>
              DNI
            </ion-label>
            <ion-input type="text" ngModel name="dni" required #dniCtrl="ngModel"></ion-input>
          </ion-item>
          <ion-item>
         <!--   <ion-label position="floating">
              <ion-icon slot="start" name="call"></ion-icon>
              Telefono
            </ion-label>
            <ion-input type="tel" ngModel name="tel" required #telCtrl="ngModel"></ion-input>  -->
            <div formGroupName="country_phone_group">
              <ion-item>
                <ion-label position="floating" color="primary">Country</ion-label>
                <ion-select formControlName="country" cancelText="Cancel" okText="OK">
                  <ion-select-option *ngFor="let item of countries" [value]="item">{{item.name}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating" color="primary">Phone</ion-label>
                <ion-input placeholder="{{ validations_form.value.country_phone.country.sample_phone }}" type="text" formControlName="phone"></ion-input>
              </ion-item>
            </div>

          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="alarm"></ion-icon>
              Horas de trabajo diarias
            </ion-label>
            <ion-input type="number" min="0" ngModel name="hours" required #hoursCtrl="ngModel"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit">Registrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
