<ion-header>
  <ion-toolbar>
    <ion-title>Introduce los Datos</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="modalDismiss()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false">
  <form [formGroup]="registerForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="mail"></ion-icon>
              Email
            </ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="key"></ion-icon>
              Contraseña
            </ion-label>
            <ion-input formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="person"></ion-icon>
              Nombre y Apellidos
            </ion-label>
            <ion-input formControlName="nombre">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="clipboard"></ion-icon>
              DNI
            </ion-label>
            <ion-input formControlName="DNI"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="globe"></ion-icon>
              País
            </ion-label>
            <ion-select placeholder="Selecciona un país" formControlName="country" (ngModelChange)="updateAll()">
              <ion-select-option [value]="pais.code" *ngFor="let pais of paises">{{pais.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="call"></ion-icon>
              Telefono
            </ion-label>
            <ion-input formControlName="telefono" ionChange="updateAll()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="alarm"></ion-icon>
              Horas de trabajo diarias
            </ion-label>
            <ion-input formControlName="horasTrabajo"></ion-input>
          </ion-item>
          <ion-input formControlName="latPersona" hidden=true></ion-input>
          <ion-input formControlName="lonPersona" hidden="true"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="onSubmit()" [disabled]="!registerForm.valid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>