<ion-header>
  <ion-toolbar>
    <ion-title>Editar datos de empresa</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="modalDismiss()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="horarioForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Hora Entrada</ion-label>
            <ion-datetime display-format="H:mm" picker-format="H:mm" value="1990-02-19T07:00Z"
              formControlName="horaEntrada"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Hora Salida</ion-label>
            <ion-datetime display-format="H:mm" picker-format="H:mm" value="1990-02-19T15:00Z"
              formControlName="horaSalida"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Número de pausas máximo</ion-label>
            <ion-input type="text" formControlName="numPausas"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Tiempo máximo</ion-label>
            <ion-input type="text" formControlName="timePausa"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="create()" [disabled]="horarioForm.invalid">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>