<ion-header>
  <ion-toolbar>
    <ion-title>Editar datos de empresa</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="modalDismiss()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editingForm">
    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-item>
            <ion-label position="floating">
              <ion-icon name="people"></ion-icon>
              Nombre de la empresa
            </ion-label>
            <ion-input formControlName="Nombre"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="card"></ion-icon>
              CIF
            </ion-label>
            <ion-input formControlName="CIF">
            </ion-input>
          </ion-item>

          <!-- Se introduciría por mapa en un futuro -->
          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="globe"></ion-icon>
              Localización: Latitud
            </ion-label>
            <ion-input formControlName="loc1"></ion-input>
            <ion-label position="floating">
              Localización: Longitud
            </ion-label>
            <ion-input formControlName="loc2"></ion-input>
          </ion-item>


         
          
        </ion-col>
      </ion-row>
     
     
    </ion-grid>
    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="onSubmit()" [disabled]="!editingForm.valid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>