<ion-header>
  <ion-toolbar>
    <ion-title>Editar datos de empresa</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="modalDismiss()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editingForm">
    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-item>
            <ion-label position="floating">
              <ion-icon name="people"></ion-icon>
              Nombre de la empresa
            </ion-label>
            <ion-input formControlName="Nombre"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="card"></ion-icon>
              CIF
            </ion-label>
            <ion-input formControlName="CIF" readonly="true">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <ion-icon slot="start" name="map"></ion-icon>
              Direccion
            </ion-label>
            <ion-input type="text" formControlName="direccion"></ion-input>
            <ion-icon class="availability-icon" name="close" style="color: red" *ngIf="empresaCoords_.invalid && empresaDireccion_.dirty" ></ion-icon>
            <ion-icon class="availability-icon" name="checkmark" style="color: green" *ngIf="empresaCoords_.valid"></ion-icon>
          </ion-item>

          <ion-button (click)="openMap()" expand="block" fill="clear" shape="round">
            Abrir Mapa
          </ion-button>
          <ion-item lines="none">
            <ion-label position="floating"> Distancia para fichar: {{distancia_.value}} metros
            </ion-label>

            <ion-range min="100" max="1000" formControlName="distancia" style="background-color: none;"></ion-range>
          </ion-item>
          <!-- Se introduciría por mapa en un futuro -->
          <ion-input formControlName="latEmpresa" hidden="true" readonly="true"></ion-input>
          <ion-input formControlName="lonEmpresa" hidden="true" readonly="true"></ion-input>

        </ion-col>
      </ion-row>
     
     
    </ion-grid>
    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="onSubmit()" [disabled]="!editingForm.valid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>