ion-card-title{
    padding-left: 25px;
    padding-top:10px;
    border-color: orange;
    border: 3px;
}
form{
    background-color: orange;
}

ion-label{
    border-color: orange;
    border-width: 3px;
}

ion-item{
    border-color: orange;
}
ion-button{
    margin-left: 20px;
    margin-bottom: 5px;
}