<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="closePage()"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides pager="true" style="height: 100%;" lockSwipes="true">
    <ion-slide>
      <form [formGroup]="registerCompany">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>Datos Empresa</h1>
              <ion-item>
                <ion-label position="floating">CIF empresa</ion-label>
                <ion-input #C formControlName="cif" (ionChange)="cif_check(C.value)"></ion-input>
                <ion-icon class="availability-icon" name="close" style="color: red" *ngIf="cif_.invalid && cif_.dirty">
                </ion-icon>
                <ion-spinner class="availability-icon" *ngIf="cif_.pending"></ion-spinner>
                <ion-icon class="availability-icon" name="checkmark" style="color: green" *ngIf="cif_.valid"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Nombre empresa</ion-label>
                <ion-input formControlName="nombreEmpresa"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Dirección</ion-label>
                <ion-input formControlName="direccionEmpresa"></ion-input>

              </ion-item>

              <ion-button (click)="openMap()" expand="block" fill="clear" shape="round" [disabled]="direccion_.invalid">
                Abrir Mapa
              </ion-button>
              <ion-item>
                <ion-label position="floating">Latitud Empresa</ion-label>
                <ion-input formControlName="latEmpresa" [(ngModel)]="latEmpresa" readonly="true"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Longitud Empresa</ion-label>
                <ion-input formControlName="lonEmpresa" [(ngModel)]="lonEmpresa" readonly="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <form [formGroup]="registerAdmin">
              <h1>Admin</h1>
              <ion-item>
                <ion-label position="floating">
                  <ion-icon slot="start" name="mail"></ion-icon>
                  Email
                </ion-label>
                <ion-input formControlName="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">
                  <ion-icon slot="start" name="key"></ion-icon>
                  Contraseña
                </ion-label>
                <ion-input formControlName="password"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">
                  <ion-icon name="person"></ion-icon>
                  Nombre y Apellidos
                </ion-label>
                <ion-input formControlName="nombre">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">
                  <ion-icon slot="start" name="clipboard"></ion-icon>
                  DNI
                </ion-label>
                <ion-input formControlName="DNI"></ion-input>
                <ion-icon class="availability-icon" name="close" style="color: red" *ngIf="dni_.invalid && dni_.dirty">
                </ion-icon>
                <ion-spinner class="availability-icon" *ngIf="cif_.pending"></ion-spinner>
                <ion-icon class="availability-icon" name="checkmark" style="color: green" *ngIf="dni_.valid"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label position="floating">
                  <ion-icon slot="start" name="globe"></ion-icon>
                  País
                </ion-label>
                <ion-select placeholder="Selecciona un país" formControlName="country" (ngModelChange)="updateAll()">
                  <ion-select-option [value]="pais.code" *ngFor="let pais of paises">{{pais.name}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">
                  <ion-icon slot="start" name="call"></ion-icon>
                  Telefono
                </ion-label>
                <ion-input formControlName="telefono" ionChange="updateAll()"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">
                  <ion-icon slot="start" name="alarm"></ion-icon>
                  Horas de trabajo diarias
                </ion-label>
                <ion-input formControlName="horasTrabajo"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-icon slot="start" name="map"></ion-icon>
                  Direccion:
                </ion-label>
                <ion-input type="text" formControlName="direccionPersona"></ion-input>
                <ion-button (click)="openMapRegister()" vertical="bottom" horizontal="end" [disabled]="direccionPersona_.invalid">
                  Abrir Mapa
                </ion-button>
                <ion-icon class="availability-icon" name="arrow-back" style="color: red" *ngIf="personaCoords_.invalid && direccionPersona_.dirty"></ion-icon>
                <ion-icon class="availability-icon" name="checkmark" style="color: green" *ngIf="personaCoords_.valid"></ion-icon>
              </ion-item>
              <ion-input formControlName="latPersona" [value]="latPersona" hidden="true" readonly="true"></ion-input>
              <ion-input formControlName="lonPersona" [value]="lonPersona" hidden="true" readonly="true"></ion-input>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col><ion-button expand="block" fill="clear" shape="round" [disabled]="registerAdmin.invalid || registerCompany.invalid"  (click)="registerAll()">
            Finalizar
          </ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>