<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="profile">
            <ion-label>Perfil</ion-label>
            <ion-icon name="person"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="ficha">
            <ion-label>Ficha</ion-label>
            <ion-icon name="clipboard"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="hora">
            <ion-label>Horario</ion-label>
            <ion-icon name="timer"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="trabajadores" *ngIf="(authService.user | async)?.admin">
            <ion-label>Trabajadores</ion-label>
            <ion-icon name="people"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="nuevo-faro">
            <ion-label>NUEVO FARO</ion-label>
            <ion-icon name="map"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>